<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BccEmailAdditional" value="darmin@oona-insurance.co.id"/>
		<add key="IntervalTime" value="5"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Server=192.168.193.123\MSSQL2016;Database=INSYS;User Id=sa;Password=AbdaK000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>