<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="App" xsi:type="File"
			  fileName="Logs\${date:format=yyyy-MM-dd}\App_${date:format=yyyy-MM-dd}.log"
			  layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${threadid} | ${level:uppercase=true} | ${message}"
			  encoding="utf-8"
			  concurrentWrites="true"
			  maxArchiveFiles="50"
			  archiveNumbering="Sequence"
			  archiveAboveSize="104857600"
			  archiveFileName="Logs\${date:format=yyyy-MM-dd}\Archive\App_${date:format=yyyy-MM-dd}.log"
			  keepFileOpen="false" />

		<target name="AllLevel" xsi:type="File"
			  fileName="Logs\${date:format=yyyy-MM-dd}\${level}_${date:format=yyyy-MM-dd}.log"
			  layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${threadid} | ${level:uppercase=true} | ${message}"
			  encoding="utf-8"
			  concurrentWrites="true"
			  maxArchiveFiles="50"
			  archiveNumbering="Sequence"
			  archiveAboveSize="104857600"
			  archiveFileName="Logs\${date:format=yyyy-MM-dd}\Archive\${level}_${date:format=yyyy-MM-dd}.log"
			  keepFileOpen="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="App" />
		<logger name="*" minlevel="Debug" writeTo="AllLevel" />
	</rules>
</nlog>
