<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IntervalTime" value="3" />
		<add key="ApplicationPath" value="\\192.168.193.45\AIS\E-Policy_TEST" />
		<add key="BccEmailAdditional" value="darmin@oona-insurance.co.id" />
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!--<add name="DBConnectionString" connectionString="Server=DBLSNRPROD;Database=INSYS;User Id=CoreSystem;Password=AbdaSqlAdmin2728;" providerName="System.Data.SqlClient"/>-->
		<add name="DBConnectionString" connectionString="Server=DVSQL123\MSSQL2016;Database=INSYS;User Id=sa;Password=AbdaK000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IBuild" closeTimeout="01:00:00"
     openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
     allowCookies="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
     maxReceivedMessageSize="2147483647" />
    <binding name="BasicHttpBinding_IBuild1" closeTimeout="01:00:00"
     openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
     allowCookies="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
     maxReceivedMessageSize="2147483647" />
    <binding name="WSCommonSoap" closeTimeout="01:00:00" openTimeout="01:00:00"
     receiveTimeout="01:00:00" sendTimeout="01:00:00" allowCookies="false"
    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
     maxReceivedMessageSize="2147483647" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://192.168.193.127:8080/PolicySignatureSystem/PSReportBuilder/Build.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuild"
    contract="PSReportService.IBuild" name="BasicHttpBinding_IBuild" />
   <endpoint address="http://192.168.193.127:8080/PolicySignatureSystem/NonPSReportBuilder/Build.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuild1"
    contract="NonPSReportService.IBuild" name="BasicHttpBinding_IBuild1" />
   <endpoint address="http://192.168.71.204:8080/CareWebServiceV5/WSCommon.asmx"
    binding="basicHttpBinding" bindingConfiguration="WSCommonSoap"
    contract="CareWsCommon.WSCommonSoap" name="WSCommonSoap" />
  </client>
 </system.serviceModel>
</configuration>